<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.NewsinfoMapper">
  <resultMap id="BaseResultMap" type="com.blog.model.Newsinfo">
    <id column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
    <result column="news_summary" jdbcType="VARCHAR" property="newsSummary" />
    <result column="news_pic" jdbcType="VARCHAR" property="newsPic" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.blog.model.Newsinfo">
    <result column="news_content" jdbcType="LONGVARCHAR" property="newsContent" />
  </resultMap>
  <sql id="Base_Column_List">
    news_id, news_title, news_summary, news_pic, createDate, author_id, topic_id
  </sql>
  <sql id="Blob_Column_List">
    news_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from newsinfo
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from newsinfo
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.model.Newsinfo">
    insert into newsinfo (news_id, news_title, news_summary, 
      news_pic, createDate, author_id, 
      topic_id, news_content)
    values (#{newsId,jdbcType=INTEGER}, #{newsTitle,jdbcType=VARCHAR}, #{newsSummary,jdbcType=VARCHAR}, 
      #{newsPic,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{authorId,jdbcType=INTEGER}, 
      #{topicId,jdbcType=INTEGER}, #{newsContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.model.Newsinfo">
    insert into newsinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        news_id,
      </if>
      <if test="newsTitle != null">
        news_title,
      </if>
      <if test="newsSummary != null">
        news_summary,
      </if>
      <if test="newsPic != null">
        news_pic,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="newsContent != null">
        news_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="newsTitle != null">
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null">
        #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="newsPic != null">
        #{newsPic,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="newsContent != null">
        #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.model.Newsinfo">
    update newsinfo
    <set>
      <if test="newsTitle != null">
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null">
        news_summary = #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="newsPic != null">
        news_pic = #{newsPic,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="newsContent != null">
        news_content = #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blog.model.Newsinfo">
    update newsinfo
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_summary = #{newsSummary,jdbcType=VARCHAR},
      news_pic = #{newsPic,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER},
      news_content = #{newsContent,jdbcType=LONGVARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.model.Newsinfo">
    update newsinfo
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_summary = #{newsSummary,jdbcType=VARCHAR},
      news_pic = #{newsPic,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.blog.model.newsinfo">
    <id column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
    <result column="news_summary" jdbcType="VARCHAR" property="newsSummary" />
    <result column="news_pic" jdbcType="VARCHAR" property="newsPic" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.blog.model.newsinfo">
    <result column="news_content" jdbcType="LONGVARCHAR" property="newsContent" />
  </resultMap>
  <sql id="Base_Column_List">
    news_id, news_title, news_summary, news_pic, createDate, author_id, topic_id
  </sql>
  <sql id="Blob_Column_List">
    news_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from newsinfo
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from newsinfo
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.model.newsinfo">
    insert into newsinfo (news_id, news_title, news_summary, 
      news_pic, createDate, author_id, 
      topic_id, news_content)
    values (#{newsId,jdbcType=INTEGER}, #{newsTitle,jdbcType=VARCHAR}, #{newsSummary,jdbcType=VARCHAR}, 
      #{newsPic,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{authorId,jdbcType=INTEGER}, 
      #{topicId,jdbcType=INTEGER}, #{newsContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.model.newsinfo">
    insert into newsinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        news_id,
      </if>
      <if test="newsTitle != null">
        news_title,
      </if>
      <if test="newsSummary != null">
        news_summary,
      </if>
      <if test="newsPic != null">
        news_pic,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="newsContent != null">
        news_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="newsTitle != null">
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null">
        #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="newsPic != null">
        #{newsPic,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="newsContent != null">
        #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.model.newsinfo">
    update newsinfo
    <set>
      <if test="newsTitle != null">
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsSummary != null">
        news_summary = #{newsSummary,jdbcType=VARCHAR},
      </if>
      <if test="newsPic != null">
        news_pic = #{newsPic,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="newsContent != null">
        news_content = #{newsContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blog.model.newsinfo">
    update newsinfo
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_summary = #{newsSummary,jdbcType=VARCHAR},
      news_pic = #{newsPic,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER},
      news_content = #{newsContent,jdbcType=LONGVARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.model.newsinfo">
    update newsinfo
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_summary = #{newsSummary,jdbcType=VARCHAR},
      news_pic = #{newsPic,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>