<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.TopicMapper">
	<!-- 根据Account到manager表查询管理员信息 -->
	<resultMap id="BaseResultMap" type="com.blog.model.Topic">
	    <id column="topic_id" jdbcType="INTEGER" property="topicId" />
	    <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
    </resultMap>
	<select id="getTopicLists" resultMap="BaseResultMap">
		select * from topic
	</select>
</mapper>